.content {
    border-radius: 10px;
    background-color: #F7F7F7;
    padding: 50px;
}

.detail-header {
    display: flex;
    height: 30px;
    font-size: 20px;
    margin-bottom: 2rem;
}

.post-time {
    margin-right: 1.5rem;
}

.back-btn {
    display: flex;
    justify-content: flex-end;
    flex: auto;
}

.back-btn a {
    /* color: #0652DE; */
    /* 设置字体渐变色 */
    background: linear-gradient(to right, #e74c3c, #f1c40f, #2ecc71);
    -webkit-background-clip: text;
    color: transparent;
}

h1 {
    font-size: 44px;
    line-height: 1.2;
    word-spacing: 1px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.title-split {
    margin: 48px 0;
    width: 35%;
    min-width: 10rem;
    max-width: 100%;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-top: 2px solid transparent;
    border-image: linear-gradient(to right, #e74c3c, #f1c40f, #2ecc71);
    border-image-slice: 10;
}

.detail-content {
    margin-bottom: 48px;
}

.leave-msg-area-header {
    display: flex;
    margin-bottom: 20px;
    height: 18px;
    line-height: 18px;
}

.leave-msg-area-header-title {
    flex: auto;
}

.leave-msg-area-header-desc {
    display: flex;
    justify-content: flex-end;
    flex: auto;
    font-size: 14px;
    color: #B3B6BA;
}

.msg-split {
    margin: 30px auto;
    border-top: 1px dashed #E5E5E4;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

#comment {
    display: block;
    padding: 10px;
    height: 120px;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
    border: 1px solid #e1e5e9;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    resize: none;
    color: #616569;
}

.user-info {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 20px;
    height: 64px;
    box-sizing: border-box;
}

.user-info input {
    display: block;
    width: 100%;
    height: 36px;
    margin-top: 10px;
    padding: 0 10px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    resize: none;
    border: 1px solid #e1e5e9;
    border-radius: 3px;
}

.user-info p {
    width: 30%;
    font-size: 14px;
    color: #919599;
}

.sumbit-comment {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    line-height: 40px;
}

.sumbit-comment button {
    width: 90px;
    background-color: #0652dd;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border: none;
    border-radius: 3px;
    color: white;
}

.sumbit-comment button:hover {
    background-color: #1F60E0;
}

.comment-area>p {
    padding: 20px;
    border-radius: 8px;
    background-color: white;
}


.comment-area-btn {
    display: flex;
    justify-content: flex-end;
}

.comment-area-btn button {
    margin-top: 10px;
    width: 90px;
    height: 40px;
    background-color: #0652dd;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border: none;
    border-radius: 3px;
    color: white;
}