/* 清除浏览器默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #FFFFFF;
}

.wrapper {
    width: 100%;
    max-width: 896px;
    margin: 0 auto;
}

header {
    height: 60px;
    box-shadow: inset 0 -0.5px 0 rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 3%);
}

.header-box {
    display: flex;
    height: 60px;
    /* background-color: pink; */
}

.site-name a {
    padding: 0 30px;
    font-size: 1.5rem;
    line-height: 60px;
    color: #333333;
    box-shadow: inset -0.5px 0 0 rgb(0 0 0 / 20%);
}

nav {
    height: 60px;
    margin-left: 50px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 50px;
    height: 60px;
    line-height: 60px;
}

nav ul li a {
    display: block;
    padding: 0 5px;
    height: 60px;
    font-size: 18px;
    color: #333333;
}

nav ul li a:hover {
    color: #0652DE;
}

nav ul li:hover {
    border-bottom: 2px solid #0652DE;
}

nav ul li a:checked {
    color: #0652DE;
}

nav ul li:checked {
    border-bottom: 2px solid #0652DE;
}


.search {
    position: relative;
    margin-left: 60px;
    /* width: 250px; */
    height: 60px;
    line-height: 60px;
}

.search input {
    padding: 0 40px 0 15px;
    width: 200px;
    height: 34px;
    border: none;
    font-size: 14px;
    color: #666;
    /* 外框形状 */
    box-shadow: inset 0 0 0 0.5px rgb(0 0 0 / 20%);
    border-radius: 17px;
    /* 背景透明 */
    background-color: transparent;
}

/* 字体图标 */
@font-face {
    font-family: "iconfont";
    /* Project id  */
    src: url('./iconfont.ttf?t=1641173483813') format('truetype');
}

.iconfont {
    position: absolute;
    right: 0px;
    top: 13px;
    width: 36px;
    height: 36px;
    font-family: "iconfont" !important;
    font-size: 24px;
    font-style: normal;
    color: #666;
    line-height: 36px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: blue; */
}

.iconfont::before {
    content: "\e8b8";
}

.progress-bar {
    display: block;
    background-size: 100vw 1px;
    background-image: linear-gradient(to right, #e74c3c, #f1c40f, #2ecc71);
    /* border: 2px solid blue; */
}