/* 清除浏览器默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #0652DE;
    /* background: linear-gradient(to right, #e74c3c, #f1c40f, #2ecc71); */
    /* -webkit-background-clip: text; */
    /* color: transparent; */
}

a:checked {
    color: #0652DE;
}

body {
    /* background-image: linear-gradient(45deg, #e74c3c, #f1c40f, #2ecc71); */
    background-color: #EBEBEB;
}

.wrapper {
    width: 100%;
    max-width: 896px;
    margin: 0 auto;
}

header {
    position: sticky;
    top: 0;
    height: 60px;
    box-shadow: inset 0 -0.5px 0 rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 3%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
}

.header-box {
    display: flex;
    height: 60px;
    /* background-color: pink; */
}

.site-name a {
    padding: 0 30px;
    font-size: 1.5rem;
    line-height: 60px;
    color: #333333;
    box-shadow: inset -0.5px 0 0 rgb(0 0 0 / 20%);
}

.site-name a:hover {
    color: #0652DE;
}

nav {
    height: 60px;
    margin-left: 50px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 50px;
    height: 60px;
    line-height: 60px;
}

nav ul li a {
    display: block;
    padding: 0 5px;
    height: 60px;
    font-size: 18px;
    color: #333333;
}

nav ul li:hover {
    border-bottom: 2px solid #0652DE;
}

nav ul li:checked {
    border-bottom: 2px solid #0652DE;
}

.search {
    position: relative;
    margin-left: 60px;
    /* width: 250px; */
    height: 60px;
    line-height: 60px;
}

.search input {
    padding: 0 40px 0 15px;
    width: 200px;
    height: 34px;
    border: none;
    font-size: 14px;
    color: #666;
    /* 外框形状 */
    box-shadow: inset 0 0 0 0.5px rgb(0 0 0 / 20%);
    border-radius: 17px;
    /* 背景透明 */
    background-color: transparent;
}

/* 字体图标 */
@font-face {
    font-family: "iconfont-search";
    /* Project id  */
    src: url('./iconfont.ttf?t=1641173483813') format('truetype');
}

.iconfont-search {
    position: absolute;
    right: 0px;
    top: 13px;
    width: 36px;
    height: 36px;
    font-family: "iconfont-search" !important;
    font-size: 24px;
    font-style: normal;
    color: #666;
    line-height: 36px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont-search::before {
    content: "\e8b8";
}

.progress-bar {
    display: block;
    background-size: 100vw 1px;
    background-image: linear-gradient(to right, #e74c3c, #f1c40f, #2ecc71);
}

.content {
    margin-top: 60px;
    height: auto;
    padding: 0 30px;
}

.card {
    padding: 50px;
    height: 300px;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: #F7F7F7;
    box-shadow: rgb(19 17 16 / 10%) 0px 0.5rem 1rem -0.5rem;
    /* background-image: linear-gradient(to right, #e74c3c, #f1c40f, #2ecc71); */
}

.card-header {
    margin-bottom: 1.6rem;
    line-height: 44px;
    word-spacing: 2px;
}

.card-header a:hover {
    border-bottom: 2px solid #0652DE;
}

.card-content p {
    /* p标签两行的省略号不生效，需要加下面3行代码即可 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 1.6rem;
    height: 74px;
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 1.7;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #131110;
}

.card-footer {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    line-height: 30px;
}

.post-time {
    margin-right: 1em;
    color: #858484;
}

.post-category {
    margin-right: 1em;
}

.post-category a {
    color: #858484;
}

.post-category a:hover {
    color: #0652DE;
}

.detail-btn {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 auto;
}

.detail-btn a {
    /* color: #0652DE; */
    /* 设置字体渐变色 */
    background: linear-gradient(to right, #e74c3c, #f1c40f, #2ecc71);
    -webkit-background-clip: text;
    color: transparent;
}

.pager {
    margin: 50px auto 80px;
    display: flex;
    justify-content: center;
    padding: 0 50px;
    height: 36px;
    line-height: 36px;
}

.pager a {
    display: block;
    margin-right: 20px;
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    align-items: center;
    border-radius: 3px;
    color: #999999;
    background-color: #F1F2F3;
}

.pager a:hover {
    background-color: #0652DE;
    color: #ffffff;
}

@font-face {
    font-family: 'iconfont-prepage';
    src: url('./prepage.ttf?t=1641226148118') format('truetype');
}

.iconfont-prepage {
    font-family: "iconfont-prepage" !important;
    /* font-size: 14px; */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont-prepage::before {
    content: "\e677";
}

@font-face {
    font-family: 'iconfont-nextpage';
    src: url('./nextpage.ttf?t=1641229109448') format('truetype');
}

.iconfont-nextpage {
    font-family: "iconfont-nextpage" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont-nextpage::before {
    content: "\e66a";
}

footer {
    display: flex;
    justify-content: center;
    height: 60px;
    line-height: 60px;
    box-shadow: inset 0 -0.5px 0 rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 3%);
    z-index: 1;
    background-color: #F8F9FA;
    opacity: 0.8;
    backdrop-filter: blur(20px);
}